@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
}

#header{
    width: 100%;
    height: 40px;
    display: flex;
    padding: auto 0;
}
#title_header{
    width: 60%;
    margin: auto;
    padding: 0 20px;
    font-size: 2.2rem;
}
#nav_var_header{
    box-sizing: border-box;
    width: 40%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
header ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
header li{
    margin-right: 20px;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}
#nav_var_header>ul>li#more{
    position: relative;
}
#nav_var_header>ul>li:last-child:hover #desplegable_menu{
    display: flex;
    transition: all 0.3s ease;
}
#desplegable_menu{
    width: 120px;
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    align-items: flex-end;
    font-size: 1.4rem;
    padding-top: 10px;
}
#desplegable_menu:hover{
    display: flex;
}
#desplegable_menu>li{
    margin: 5px 5px 5px 0;
}
/*header*/

/*main*/
main{
    overflow: hidden;
}
#presentation{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("img/imagen-principal-evaluacion-de-desempeño-empresarial-1024x675.jpg");
    color: #ffffff;
    background-size: cover;
}
#presentation p:first-of-type{
    font-size: 7.2rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
#presentation p:last-of-type{
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
#info{
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 80px;
}
#info figure{
    width: 50%;
    margin: 0;
}
#info figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#info section{
    width: 50%;
    background-color: #33343f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info section h2{
    width: 100%;
    box-sizing: border-box;
    font-size: 4rem;
    margin-top: 50px;
    text-align: center;
    padding: 0 19%;
}
#info section p{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 10%;
}
#info section a{
    box-sizing: border-box;
    width: 125px;
    height: 45px;
    margin-top: 50px;
    margin-bottom: 100px;
    cursor: pointer;
}
#info section input{
    width: 100%;
    height: 100%;
    text-align: center;
}
/* seccion de preoductos */
#product_section{
    box-sizing: border-box;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#container_global{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;

}
#container_global>figure{
    width: 32px;
    border: none;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#container_global>figure>img{
    cursor: pointer;
}
#container{
    margin: 0;
    width: 1080px;
    height: 266px;
    /* overflow: visible; */
    /* display: flex; */
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    transition: all 2s ease;
}
.card{
    box-sizing: border-box;
    width: 216px;
    height: 266px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    background-color: aliceblue;
    display: inline-block;
    z-index: 1;
}
.card2{
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    cursor: pointer;
    z-index: 3;
}
.card:hover .input{
    height: 50px;
    color: black;
}
.card_figure{
    width: 100%;
    height: 206px;
    margin: 0;
    position: relative;
    z-index: 1;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.input{
    bottom: 55px;
    border: none;
    width: 206px;
    height: 0;
    position: absolute;
    z-index: 2;
    transition: 0.5s;
    background-color: rgba(240, 248, 255, 0.46);
    color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}
.span{
    width: 100%;
    height: 25px;
    display: block;
}

/* seccion de preoductos */
/*formulario*/
#form_section{
    width: 100%;
    font-size: 1.5rem;
}
h3{
    font-size: 4rem;
    text-align: center;
}
#form{
    width: 80%;
    margin: auto;
}
#form>div{
    margin-bottom: 5px;
    width: 100%;
}
#form label{
    padding-left: 5px;
    padding-bottom: 2px;
}
#form input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 3px 3px 3px 5px;
}
#form #message{
    box-sizing: border-box;
    width: 100%;
    height: 116px;
    padding: 11.25px 10px 3px 5px;
    resize: none;
}
#form>div:last-of-type input{
    background-color: #33343f;
    color: #ffffff;
    font-size: 1.8rem;
}
#map_section{
    width: 100vw;
    height: calc(100vh/2);
    margin-top: 100px;
    margin-bottom: 50px;
}
#map{
    width: 100%;
    height: 100%;
    background-color: #33343f;
}

/*formulario*/
/*main*/
/*footer*/
footer>p:first-child{
    font-size: 2.2rem;
    margin: 50px 0 50px 0;
    text-align: center;
}
footer>p{
    font-size: 1.4rem;
    text-align: center;
}
footer>a{
    font-size: 1.4rem;
    text-align: center;
    color: black;
}
footer>p:last-child{
    margin: 50px 0 50px 0;
}
/*footer*/

@media screen and (max-width: 600px) {
    #container{
        margin: 0;
        width: 216px;
        height: 266px;
        /* overflow: visible; */
        /* display: flex; */
        padding: 0;
        white-space: nowrap;
        overflow-x: hidden;
        /* overflow-y: hidden; */
        transition: all 2s ease;
    }
    #info{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
    }
    #info figure{
        width: 100%;
        margin: 0;
    }
    #info section{
        width: 100%;
        padding: 10px;
        background-color: #33343f;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*header*/
    header{
        width: 100vw;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #header{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    #menu_burger{
        width: 50px;
        height: 50px;
        background-image: url("img/hamburger.png");
        object-fit: cover;
        position: absolute;
        z-index: 2;
        margin: auto 0;
        top: 25px;
        left: 10px;
    }
    #title_header{
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        padding-left: 60px;
    }
    #nav_var_header{
        position: absolute;
        width: 200px;
        top: 100px;
        left: 0;
        background-color: #ffffff;
        display: none;
    }
    header ul{
        display: block;
        width: 150px;
        margin-left: 10px;
    }
    header ul>li{
        display: block;
        width: 180px;
        padding: 10px 0;
    }
    header ul>li>a{
        font-size: 2.5rem;
    }
    #desplegable_menu{
        width: 200px;
        left: 20px;
    }
    #presentation p:first-of-type{
        font-size: 4rem;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    /*header*/
}