@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
}
#header{
    width: 100%;
    height: 40px;
    display: flex;
}
#title_header{
    width: 60%;
    margin: auto;
    padding: 0 20px;
    font-size: 2.2rem;
}
#nav_var_header{
    box-sizing: border-box;
    width: 40%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
header ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
header li{
    margin-right: 20px;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}
#nav_var_header>ul>li#more{
    position: relative;
}
#nav_var_header>ul>li:last-child:hover #desplegable_menu{
    display: flex;
    transition: all 0.3s ease;
}
#desplegable_menu{
    width: 100px;
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
    align-items: flex-end;
    font-size: 1.4rem;
    padding-top: 10px;
}
#desplegable_menu:hover{
    display: flex;
}
#desplegable_menu>li{
    margin: 5px 5px 5px 0;
}
/*header*/
.product-section{
    display: flex;
    justify-content: center;
    height: auto;
}
.products-container{
    display: flex;
    width: 110rem;
    justify-content: space-between;
    column-gap: 5%;
    height: auto;
    margin-top: 10px;
    flex-wrap: wrap;


}

.product-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 25rem;
    margin-bottom: 4rem;

}
.product-container img{

    height: 19rem;
    width: 100%;
    object-fit: cover;

}